@import "tailwindcss";

:root {
  --primary: hsl(199, 100%, 60%);
  --background: hsl(0, 0, 0);
  --foreground: hsl(0, 0%, 100%);
}


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(192, 192, 192)
}

p {
  font-size: 16px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}