@import "tailwindcss";

:root {}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: oklch(0.698 0.1038 228.79);
  --color-primary-hover: oklch(0.60 0.1038 228.79);

  --color-background: oklch(0.900 0.000 89.9);
  --color-foreground: oklch(0.65 0.000 89.9);
  --color-foreground-emphasized: oklch(0.5 0.01009 285.373);

  --color-section-background: oklch(1.000 0.000 89.9);
  --color-section-background-dark: oklch(0.95 0.000 89.9);
  --color-section-background-darkest: oklch(0.9 0.000 89.9);

  --hero-glow: oklch(0.859 0.075 228.7 / 0.34);
  --color-tech-items: oklch(1.000 0.000 89.9);
  --color-contact-form-inputs: oklch(0.950 0.000 89.9);
  --color-contact-form-background: oklch(0.60 0.01009 285.373);
}

.dark {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: oklch(0.698 0.1038 228.79);
  --color-primary-hover: oklch(0.60 0.1038 228.79);

  --color-background: oklch(0% 0 0);
  --color-foreground: oklch(0.63 0.02382 285.667);
  --color-foreground-emphasized: oklch(100% 0.00011 271.152);

  --color-section-background: oklch(28.066% 0.01646 285.272);
  --color-section-background-dark: oklch(18.906% 0.01009 285.373);
  --color-section-background-darkest: oklch(0% 0 0);

  --hero-glow: oklch(100% 0.00011 271.152 / 0.11);
  --color-tech-items: oklch(0.40 0.01009 285.373);
  --color-contact-form-inputs: oklch(.8 0.00006 271.152 / 0.151);
  --color-contact-form-background: oklch(26.033% 0.00003 271.152 / 0.486);
}


html {
  background: var(--color-background);
}


body {
  color: var(--color-foreground);
  background: var(--color-background);
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}

h2 {}

p {
  font-size: 16px;
}

.fade-in {
  opacity: 0;
  translate: 0px 20px;
  animation: fadeIn 1s ease forwards;
}

.fade-in-ball {
  opacity: 0;
  animation: fadeInBall 3s ease forwards;
}

@keyframes fadeIn {
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}

@keyframes fadeInBall {
  to {
    opacity: 1;
  }
}

.animate-shift {
  translate: 200px 20px;
  animation: shiftLeft 10s ease forwards;
}

@keyframes shiftLeft {
  to {
    translate: 0px 0px;
  }
}